In [48]:
import os
import pandas as pd
import ast
from IPython.display import display

In [2]:
res_path = './results'

In [9]:
folders = []

for f in os.listdir(res_path):
    if not f.startswith('.'):
        folders.append(f)


folders = sorted(folders)

In [43]:
out = dict()

for folder in folders:
    file_path = os.path.join(res_path, folder, 'stdout.log')
    with open(file_path, 'r') as f:
        data = f.read()
    line = data.strip().split('\n')[-1]
    
    folder_split = folder.split('_')
    dataset = folder_split[-1]
    del folder_split[-1]
    eval_type = folder_split[-1]
    del folder_split[-1]
    name = '_'.join(folder_split)
    
    acc_dict = ast.literal_eval(line.split('json_stats: ')[-1])
    top1 = float(acc_dict['top1_acc'])
    top5 = float(acc_dict['top5_acc'])
    
    if dataset in out:
        if name in out[dataset].keys():
            out[dataset][name][eval_type+'_top1'] = top1
            out[dataset][name][eval_type+'_top5'] = top5
        else:
            out[dataset][name] = dict()
            out[dataset][name][eval_type+'_top1'] = top1
            out[dataset][name][eval_type+'_top5'] = top5
    else:
        out[dataset] = dict()
        out[dataset][name] = dict()
        out[dataset][name][eval_type+'_top1'] = top1
        out[dataset][name][eval_type+'_top5'] = top5

In [50]:
for k in out:
    print(k)
    df = pd.DataFrame(out[k]).T
    display(df)

kinetics

,finetune_top1,finetune_top5,linear_top1,linear_top5
svt_dino_30,70.77,89.23,64.96,86.24
svt_mae_30,72.67,91.24,57.11,81.74
svt_videomae_30_slice_0,70.12,89.94,50.70,76.90
svt_videomae_30_slice_1,69.83,89.58,50.09,76.30

ucf101

,finetune_top1,finetune_top5,linear_top1,linear_top5
svt_dino_30,90.75,98.76,87.55,98.12
svt_mae_30,89.96,98.55,78.22,95.48
svt_videomae_30_slice_0,87.05,98.55,72.98,93.58
svt_videomae_30_slice_1,87.47,98.65,73.04,93.26